click
Flask
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug
Flask-SQLAlchemy
Flask-Login
Flask-Talisman
pyotp
pycryptodome
SQLAlchemy
WTForms
cryptography
Flask-WTF
email-validator
MariaDB
sshtunnel