<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
	<script src="js/jquery-3.6.0.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<style type="text/css">
		body {
			font-size: 16px;
			font-family: 'Readex Pro', sans-serif;
			background: #eeeeee;
			color: black;
		}

		#header-nav {
			background: white;
			padding: 5px;
		}

		.navbar-brand span {
			font-size: 1.3em;
			color: #0056d2;
		}

		.nav-item a:hover{
			background: #0056d2;
		}

		.nav-item a:hover span {
			color: white;
		}

		button.navbar-toggler {
			border: 1px solid black;
		}
	</style>
</head>
<body>

	<header>
		<nav id="header-nav" class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="">
					<img src="image/logo.png" alt="Logo" width="40" height="37.6" class="d-inline-block align-text-center">
					<span>Odin AWS</span>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
   				</button>

		        <div id="navbarSupportedContent" class="collapse navbar-collapse">
		           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			        	<li class="nav-item">
			            	<a class="nav-link" href=""><span>Profile</span></a>
			            </li>
			            <li class="nav-item">
			            	<a class="nav-link" href=""><span>Courses</span></a>
			            </li>
			            <li class="nav-item">
			            	<a class="nav-link" href=""><span>Assignments</span></a>
			            </li>
			            <li class="nav-item">
			            	<a class="nav-link" href=""><span>Student Info</span></a>
			            </li>
			            <li class="nav-item">
			            	<a class="nav-link" href=""><span>Logout</span></a>
			            </li>
		          	</ul>
		        </div>
			</div>
		</nav>	
	</header>

</body>
</html>