<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSC2031 Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>

<style>
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item">
                            Home
                        </a>
                        <a href="{{ url_for('blog.blog') }}" class="navbar-item">
                            Blog
                        </a>
                        <a href="{{ url_for('blog.create') }}" class="navbar-item" >
                            Create Post
                        </a>
                        <a href="{{ url_for('users.register') }}" class="navbar-item">
                            Sign Up
                        </a>
                        <a href="{{ url_for('users.login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="" class="navbar-item">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>