<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta author="Jiayuan Zhang, Bootstrap contributors">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/change-password.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </head>

  <body class="text-center">
    <main class="form-signin">
        <form method="POST">
            {{ form.csrf_token() }}
            <img class="mb-1" src="../static/image/logo.png" alt="Logo" width="150" height="150">
            <h1 class="h3 mb-4 fw-normal">Change Your Password</h1>

            <!-- Flash error message if there is one -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="bg-danger text-white rounded">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}

            <div class="form-floating">
                {{ form.old_password(class="input form-control", id="floatingOldPassword", placeholder="Old Password") }}
                {% for error in form.old_password.errors %}
                    {{ error }}
                {% endfor %}
                <label for="floatingOldPassword">Old Password</label>
            </div>
            <div class="form-floating">
                {{ form.new_password(class="input form-control", id="floatingNewPassword", placeholder="New Password") }}
                {% for error in form.new_password.errors %}
                    {{ error }}
                {% endfor %}
                <label for="floatingNewPassword">New Password</label>
            </div>
            <div class="form-floating">
                {{ form.confirm_password(class="input form-control", id="floatingConfirmedPassword", placeholder="Confirm Password") }}
                {% for error in form.confirm_password.errors %}
                    {{ error }}
                {% endfor %}
                <label for="floatingConfirmedPassword">Confirm Password</label>
            </div>

            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
            <p class="mt-5 mb-3 text-muted">&copy; Odin AMS 2021-</p>
        </form>
    </main>
  </body>

</html>
