<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% block content %}

    <div class="column is-6 is-offset-3">
        <h4 class="title is-4">Your Courses</h4>
        <div class="box">
            {% if course_list %}
                <div class="field">

                    {% for course in course_list %}
                        <li>{{ course.courseName }}</li>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
		<div class="row text-center">
			<div class="col-gt-4 col-md-4 col-sm-12">
				<section>
					<h3>Create Course</h3>
					<hr>
					<a class="btn btn-primary btn-lg" href={{ url_for('courses.create_courses') }}>Create Course</a>
				</section>
			</div>
{% endblock %}
</html>
