<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta author="Jiayuan Zhang, Bootstrap contributors">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AWS Login</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style-index.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<body>

	<h1>System Login</h1>
	<p id="login-welcome">Select from the options below to get started</p>

	<div class="container">
		<div class="row text-center">
			<div class="col-gt-4 col-md-4 col-sm-12">
				<section>
					<h2>Student</h2>
					<hr>
					<a class="btn btn-primary btn-lg" href="login.html">LOGIN</a>
				</section>
			</div>
			<div class="col-gt-4 col-md-4 col-sm-12">
				<section>
					<h2>Teacher</h2>
					<hr>
					<a class="btn btn-primary btn-lg" href="login.html">LOGIN</a>
				</section>
			</div>
			<div class="col-gt-4 col-md-4 col-sm-12">
				<section>
					<h2>Uni Staff</h2>
					<hr>
					<a class="btn btn-primary btn-lg" href="login.html">LOGIN</a>
				</section>
			</div>
		</div>
	</div>

</body>
</html>